@use "../index" as *;

.header {
    border-radius: 0;

    h1 {
        color: $primary;
    }

    h2 {
        color: $secondary;
    }

    p {
        max-width: 30rem;
        margin: 0 auto;
    }
}